<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>


    <section class="info">
      <h1>Mon Blog</h1>
    </section>
    <section class="cards-wrapper">
      <div class="card-grid-space">
        <div class="num">01</div>
        <a
          class="card"
          href=""
          style="
            --bg-img: url(https://www.ebike-generation.com/img/thumb/img/news/energica-electric-sales_030220_1200_800.jpg);
          "
        >
          <div>
            <h1>Moto</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              similique quam nisi labore laboriosam assumenda sit pariatur ex
              voluptatum inventore tempore quidem a, nesciunt quo dolore
              deleniti aut, nihil quia!
            </p>
            <div class="date">28/09/2020</div>
            <div class="tags">
              <div class="tag">Bike</div>
            </div>
          </div>
        </a>
      </div>


      <div class="card-grid-space">
        <div class="num">02</div>
        <a
          class="card"
          href=""
          style="
            --bg-img: url('https://www.ebike-generation.com/img/thumb/img/news/energica-electric-sales_030220_1200_800.jpg');
          "
        >
          <div>
            <h1>Moto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              similique quam nisi labore laboriosam assumenda sit pariatur ex
              voluptatum inventore tempore quidem a, nesciunt quo dolore
              deleniti aut, nihil quia!</p>
            <div class="date">28/09/2020</div>
            <div class="tags">
              <div class="tag">Bike</div>
            </div>
          </div>
        </a>
      </div>


      <div class="card-grid-space">
        <div class="num">03</div>
        <a
          class="card"
          href=""
          style="
            --bg-img: url('https://www.ebike-generation.com/img/thumb/img/news/energica-electric-sales_030220_1200_800.jpg');
          "
        >
          <div>
            <h1>Moto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              similique quam nisi labore laboriosam assumenda sit pariatur ex
              voluptatum inventore tempore quidem a, nesciunt quo dolore
              deleniti aut, nihil quia!</p>
            <div class="date">28/09/2020</div>
            <div class="tags">
              <div class="tag">Bike</div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </body>
</html>
